


.logosize{
  width: auto;
  height: 3em;
}

.login_button {
  position: absolute;
}

.logoPos{
  padding-left: 5em;
  text-align: center;
  margin: 0 auto;
}

.logoPos p {
  padding-left: 5em;
  text-align: center;
  margin: 0 auto;
}
