/*Page layout*/

.Landing{


}


/* Button styling */
/* TO DO:Change colors to brand style colors */
.btn-custom {
    background-color: #a430a8;
    color: #eaf3ff;
    border-radius:13px;
    width: 110px;
    height: 33px;
    margin:0 0 20px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
  }

.btn-custom:hover {
    border: solid #620a65 .8px;
  }

.modButtons {
  display:inline-block;
  width: 150px;
  height: 30px;
  }

/* Modal Styling */
.loginModal{
  padding: 20px 25px;
  height: auto;
  width: 55vw;
  }

.input{


}

/* Grid layout style */

.show-grid #row1{
  background-color: #eaf3ff;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px;

}
.show-grid2 #sec1{
  background-color: #eaf3ff;
  height: 20em;
  margin: 0;
  padding: 0;
}


.gridlayout:before {
  margin: 0;
  padding: 0;


}

/* Jumbotron header layout styling */
 .show-grid #jumbotop{
  background-color: #eaf3ff;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;


}
.jumbotron {

background-image: url(../images/bg2.png);
background-size: cover;
background-repeat: no-repeat;
height: 90vh;
padding: 25px;
border: none;
color: #eaf3ff;
}

#logo {
  width: 40vw;
  margin: auto;
  align-content: center;

}

/* Grid styling with background image*/
.cd-fixed-bg {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cd-fixed-bg__content, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 100%;
  margin: auto;
  text-align: center;
  font-size: 3rem;
}

.cd-fixed-bg h1, .cd-fixed-bg h2 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
color: #25283d;
}

.cd-fixed-bg.cd-fixed-bg--1 {
  background-image: url(../images/audience-band-celebration-196652.jpg);
  background-size: cover;
  background-position: center;
  opacity: .7;
}



@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 3.6rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 4.8rem;
    font-weight: 300;
  }
  @supports (background-attachment: fixed) {
    /* fix bug on IE11 and below */
    .cd-fixed-bg {
      background-attachment: fixed;
    }
  }
}

.cd-scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.cd-scrolling-bg.cd-scrolling-bg--color-1 {
  background-color:#08cec7;
  height: 100vh;
  color: #eaf3ff;
}
.cd-scrolling-bg--color-2.5 {
  background-color:#a430a8;
  color: #eaf3ff;
  height: auto;
}

.cd-scrolling-bg.cd-scrolling-bg--color-2 {
  background-color:#a430a8;
  color: #eaf3ff;
  height: 100vh;
}

.cd-scrolling-bg.cd-scrolling-bg--color-3 {
  background-color: #eaf3ff;
  color: #29d9f4;
}

.cd-scrolling-bg__content {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    padding: 8em 0;
    font-size: 2rem;
    line-height: 2;
    font-weight: 300;
  }
}
