


.footland {
background-image: url(../images/BG/footer.png);
background-size: cover;
background-repeat: no-repeat;
height: 100px;
bottom: 0;
padding: 25px;
}




.social {
  right: 0;
  padding-left: 20em;
  margin: 0 auto;
}

.help {
  padding-right: 20em;
    margin: 0 auto;
}
