


.footland {
background-image: url(../images/BG/footer.png);
background-size: cover;
background-repeat: no-repeat;


}

/*
.social {

  padding-left: 20em;
  margin: 0 auto;
} */

/* .help {
  padding-right: 20em;
    margin: 0 auto;
} */
