.show-grid {
  /* margin-top: 10px; */
}
.show-grid #sec1{
  /* background-color: #25283d; */
  /* height: 20em; */
  /* margin: 0; */
  /* padding: 0; */
  /* color: #eaf3ff; */
  /* margin-right: 20px; */
  margin-bottom: 10px;
}

.show-grid #sec2{
  /* background-color: #eaf3ff; */
  /* height: 20em; */
  /* margin: 0; */
  /* padding: 0; */
  margin-bottom: 10px;
}

.profile-info-box {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  background: #F5F5F5;
  padding-top: 25px;
}
.profile-info-box h2{
  height: 62px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.editButton {
  opacity: 0.2;
}
.nameBox:hover .editButton {
  opacity: 1;
}

.react-file-reader, .uploadBtn {
    display: inline;
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
